@import url(../fonts/fonts.css);
* {
    padding: 0;
    margin: 0;
}

.page {
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: normal;
    line-height: normal;
    color: black;
    /* width: 818px;
    margin: 0 auto 0 auto; */
}
.borders {
    width: 91.66%;
    margin: 0 auto 0 auto;
    height: 100%;
}
.header {
    background-color: black;
    height: 83px;
}

.header__links {
    width: 100%;
}

.header__nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    list-style-type: none;
    display: inline;
}

.header__link:nth-child(2) {
    margin: 0 0 0 4.94%;
}

.header__link:nth-child(3) {
    margin: 0 0 0 4.16%;
}

.header__link-active {
    color: white;
    font-size: 35px;
    text-decoration: none;
    font-weight: 400;
}

.profile{
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    padding: 6vh 0 0 0 ;
}


.maininfo{
    margin-right: 3%;
}
.profile__name{
    text-align: center;
    width: 100%;
}

.description{
  margin-left: 10%;
}

.bmw{
    height: 300px;
    width: 500px;
}
li.bmw{
    height: auto;
}
.description ul{
    margin-bottom: 5vh;
}
.balli{
    margin-bottom: 5vh;
}
li{
    margin-bottom: 0.5vh;
}
.oplata{
    display: flex;
    width: 100%;
    justify-content: center
}
.oplata img{
    margin-left: 5%;
    height: 50px;
    width: 50px;
}
.signout{
    margin-left: 4%;
}


.footer {
    background-color: black;
    height: 83px;
    position: relative;
}
.footer__nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__tel {
    color: white;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    z-index: 1;
}

.footer__logo {
    position: absolute;
    left: 0;
    z-index: 0;
}

.footer__logo:last-of-type {
    left: auto;
    right: 0;
}

.footer__text {
    color: white;
    font-size: 18px;
    font-weight: 400;
}